<a href="https://colab.research.google.com/github/rajkumarboyapati/raj-kumar/blob/main/sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as pd
data=pd.read_csv('Salary_Data_SLR.csv')

In [ ]:
data

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [ ]:
X=data.iloc[:,0].values
X=X.reshape(-1,1)

In [ ]:
X

array([[ 1.1],
       [ 1.3],
       [ 1.5],
       [ 2. ],
       [ 2.2],
       [ 2.9],
       [ 3. ],
       [ 3.2],
       [ 3.2],
       [ 3.7],
       [ 3.9],
       [ 4. ],
       [ 4. ],
       [ 4.1],
       [ 4.5],
       [ 4.9],
       [ 5.1],
       [ 5.3],
       [ 5.9],
       [ 6. ],
       [ 6.8],
       [ 7.1],
       [ 7.9],
       [ 8.2],
       [ 8.7],
       [ 9. ],
       [ 9.5],
       [ 9.6],
       [10.3],
       [10.5]])

In [ ]:
Y=data.iloc[:,-1].values

In [ ]:
Y

array([ 39343.,  46205.,  37731.,  43525.,  39891.,  56642.,  60150.,
        54445.,  64445.,  57189.,  63218.,  55794.,  56957.,  57081.,
        61111.,  67938.,  66029.,  83088.,  81363.,  93940.,  91738.,
        98273., 101302., 113812., 109431., 105582., 116969., 112635.,
       122391., 121872.])

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [ ]:
X_train

array([[ 5.3],
       [ 1.5],
       [ 9. ],
       [ 7.9],
       [ 1.3],
       [ 1.1],
       [ 3. ],
       [ 2.9],
       [10.5],
       [ 3.2],
       [ 6.8],
       [ 5.1],
       [ 6. ],
       [10.3],
       [ 7.1],
       [ 9.5],
       [ 8.7],
       [ 3.9],
       [ 3.7],
       [ 4.5],
       [ 8.2],
       [ 4.9],
       [ 5.9],
       [ 4. ]])

In [ ]:
X_test

array([[2. ],
       [4.1],
       [3.2],
       [2.2],
       [4. ],
       [9.6]])

In [ ]:
Y_train

array([ 83088.,  37731., 105582., 101302.,  46205.,  39343.,  60150.,
        56642., 121872.,  54445.,  91738.,  66029.,  93940., 122391.,
        98273., 116969., 109431.,  63218.,  57189.,  61111., 113812.,
        67938.,  81363.,  55794.])

In [ ]:
Y_test

array([ 43525.,  57081.,  64445.,  39891.,  56957., 112635.])

In [ ]:
#Y=f(x)=aX+b
from sklearn.linear_model import LinearRegression
reggressor=LinearRegression()
reggressor.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
reggressor.coef_

array([9379.76977724])

In [ ]:
reggressor.intercept_

26910.538288222313

In [ ]:
reggressor.predict([[6]])

array([83189.15695163])

In [ ]:
reggressor.predict(X_test)

array([ 45670.07784269,  65367.59437489,  56925.80157537,  47546.03179814,
        64429.61739716, 116956.32814968])

In [ ]:
Y_test

array([ 43525.,  57081.,  64445.,  39891.,  56957., 112635.])